/*
Colors used:
Primary Color (white): #fff;
Secondary Color (Gray): #4a4a4a
*/
  * {
  box-sizing: border-box;
  }
  
  body {
      background-color:lightgrey;
      font-family: 'Open sans', sans-serif;
      font-size: 16px; /* Sets the font size to 16px */
      font-weight: 300; /* Sets to font weight to 300 */
      line-height: 1.6; /* Sets the line to 1 *the font-size*/
      color: #4a4a4a

}
  h1, h2 h3, h4 {
    line-height: 1.4;
    font-family: 'Playfair Display', serif
    }
  h1 {
      font-size: 2.75em;
      font-weight: 700;
    }
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 {
    font-size: 1.75em;
    font-weight: 400;
}
h4  {
    font-size: 1.35;
    font-weight: 400;
}
p {
    font-size: 18px;
    font-weight: 300;
}
img  {
    width: 100%;
    height: auto;
}
svg {
    width: 100%;
    height:auto;
}
a  {
    text-decoration: none; /* No underlining */
    transition: 0.8s opacity;
    background-color: inherit;
    color:#4a4a4a
   
}
.hero {
  padding: 20px 0 0;
  display: inline-block;
  width: 100%;
}
.hero h3 {
  text-align: center;
}
#about h2  {
  margin-bottom: 0;
}
.headshot  {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

a:visited {
    /* visited link */
    color: #4a4a4a
}
a:hover {
    text-decoration: underline;
    opacity: 0.8;
    background-color: inherit;
    color: #386cfc
  
    /* Underline when hovering over a link */
}

a:active {
    /* selective link*/
    color: #993030
}
a:hover,
a:focus  {
    text-decoration: underline;
    color: #386cfc;
}

a.button {
    display: inline-block;
background-color: transparent;
transition: 0.3s opacity;
color:  #1b1b1b;
/*width of the border, type, color */
margin: auto;
padding: 10px 30px 10px 30px;
transition: .8s opacity;
box-shadow: 0 5px 10px 0 rgba(48, 50, 50, 0.43);
font-weight: 400;
border-radius: 3px;
border-bottom: 2px solid lightgrey; 

}
  .button:visited {
      color: inherit;
      background-color:#2b2b2b;
      text-decoration: none;
      opacity: .8;
    }
    .button:hover,
    .button:focus {
        background-color: lightgrey;
        background-size: 100%;
    }
.button:active 
 {
   opacity: .8;
   text-decoration: none;
    color: #1b1b1b;
}
.button.contact {
background-color: #1b1b1b;
color:#ffffff;
font-family: Playfair Display,serif;
text-transform: uppercase;
width: 120px;
transition: 1s;
padding: 10px 30px 10px 30px;
font-weight: 400;
text-align: center;
float: none;
}
a.button.contact:hover  {
 background-color: #c5c5c5;
 color: #252525
 text-decoration-thickness- 1s;
 opacity: 0.8;
}

.button:hover {
  background-color: #2b2b2b;
text-decoration: none;
opacity: 0.8;
}
/* Layout Styling */

  
